:root {
  --ion-background-color: #f2f2f6;
  --ion-item-background: #f2f2f6;
  --ion-text-color: #000;
  --ion-item-text-color: #000;
  --ion-checkbox-background: #fff;
  --ion-checkbox-border: #000;
  --ion-color-step-850: #262626; /* Default for light theme */
}

body.dark {
  --ion-background-color: #222;
  --ion-item-background: #222;
  --ion-text-color: #fff;
  --ion-item-text-color: #fff;
  --ion-item-border-color: green;
  --ion-checkbox-background: #fff;
  --ion-checkbox-border: #ffffff;
  --ion-color-step-850: #ffffff; /* Default for dark theme */
}
